---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: true
  AfterUnion: true
BreakAfterAttributes: Always
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
IndentCaseLabels: true
IndentRequiresClause: false
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
---
